/* a:active{
    border-bottom: 1px solid blue;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:visited{
    background-color: limegreen;
} */
.act{
    border-left:4px solid rgb(241, 175, 52);
}
.act:hover{
    border-left:4px solid rgb(241, 175, 52);

}