<app-navbar></app-navbar>

<div class="container">
    <h2>Login</h2>
    <p>Select the respective tabs!!!</p>
    <!-- <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link active me-2" aria-current="page"  [ngClass]="tabset ? 'active':'inactive'" (click)="employeeloginpage()">Employee</a>
      <a class="flex-sm-fill text-sm-center nav-link ms-2" aria-current="page" [ngClass]="tabset?'active':'inactive'" (click)="recruiterloginpage()">Recruiter</a>
    </nav> -->
    <ul class="nav nav-tabs ">
      <li class="nav-item me-3">
        <a class="nav-link" type="button"  style="cursor:pointer;" [ngClass]="tab1" (click)="employeeloginpage()">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " type="button" style="cursor:pointer" [ngClass]="tab2" (click)="recruiterloginpage()">Recruiter</a>
      </li>
    </ul>
    <router-outlet></router-outlet>    
  </div>
  