<app-dashboard></app-dashboard>
<div class="container-fluid">
</div>

<div class="container" *ngIf="successmsg">
    <div class="alert alert-success">
        <strong>{{successmsg}}</strong>
    </div>
</div>
<div class="container mt-3 bg-light">
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="col-sm-12 text-center">
                <h1></h1>
            </div>
            <hr>
            <!-- <div class="col-sm-12 text-center p-2" *ngIf="!picexists;else defaultavatar">
                <img src="{{profileinfo.profileimage}}" alt={{profileinfo.username}} id="pimage">
                
            </div> -->
            <ng-template #defaultavatar>
                <img src="../../../assets/avatar.jpg" alt="avatar" id="pimage">
            </ng-template>
            <input type="file" name="image" (change)="selectImage($event)" />
            <button type="button" (click)="upload()" class="mt-3 mb-5">upload</button>
            <br>
            <!-- <div class="col-sm-12 p-1">
                <small><b>Interests:</b></small>
                <div class="col-sm-6" *ngFor="let interest of profileinfo.interests;let i=index">
                    <span>{{i+1}}.<b></b></span>
                </div>
            </div> -->
            <!-- <div class="col-sm-12 p-1">
                <small><b>Languages:</b></small>
                <div class="col-sm-6" *ngFor="let language of profileinfo.languages;let i=index">
                    <span>{{i+1}}.<b>{{language}}</b></span>
                </div>
            </div> -->
            <!-- <div class="col-sm-12 p-1">
                <small><b>HomeTown:</b></small>
                <h6 class="ml-2">{{profileinfo.hometown}}</h6>
            </div> -->
        </div>
        <div class="col-sm-8 p-2">
            <div class="col-sm-12">
                <h1>Profile Details</h1>
                <hr>
            </div>
            <div class="col-sm-12">
                <div class="container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#basic">Basic Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#personal">Educational Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#prof">Professional Details</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="basic" class="container tab-pane active"><br>
                            <div class="col-sm-12">
                                <label for="username"><b>UserName:</b></label><br>
                                <input type="text" name="username" id="username" class="form-control" 
                                value={{profilePersonal.seekerName}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="mail"><b>E-Mail:</b></label><br>
                                <input type="text" name="mail" id="mail" class="form-control"
                                 value={{profilePersonal.login.userId}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="mobile"><b>Mobile:</b></label><br>
                                <input type="text" name="mobile" id="mobile" class="form-control"
                                    value={{profilePersonal.seekerMobile}} disabled style="cursor: not-allowed;">
                            </div>
                            <!-- <div class="col-sm-12">
                                <label for="gender"><b>Gender:</b></label><br>
                                <input type="text" name="gender" id="gender" class="form-control"
                                    value={{profilePersonal.gender}} disabled style="cursor: not-allowed;">
                            </div> -->
                            
                        </div>
                        <div id="personal" class="container tab-pane fade"><br>
                            <div class="col-sm-12">
                                <label for="mstatus"><b>UniversityName:</b></label><br>
                                <input type="text" name="mstatus" id="mstatus" class="form-control"
                                    value={{profileEducation.universityName}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="hometown"><b>StartDate:</b></label><br>
                                <input type="text" name="hometown" id="hometown" class="form-control"
                                    value={{profileEducation.startDate}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="nationality"><b>EndDate:</b></label><br>
                                <input type="text"  class="form-control"
                                    value={{profileEducation.endDate}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="currentlocation"><b>Percentage:</b></label><br>
                                <input type="text"  class="form-control"
                                    value={{profileEducation.percentage}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="experience"><b>CGPA:</b></label><br>
                                <input type="text"  class="form-control"
                                    value={{profileEducation.cgpa}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="experience"><b>HSC-Result:</b></label><br>
                                <input type="text"  class="form-control"
                                    value={{profileEducation.hscResult}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="experience"><b>SSC-Result:</b></label><br>
                                <input type="text" class="form-control"
                                    value={{profileEducation.sscResult}} disabled style="cursor: not-allowed;">
                            </div>
                        </div>
                        <div id="prof" class="container tab-pane fade"><br>
                            <div class="col-sm-12">
                                <label for="lastjobDesig"><b>Company Name:</b></label><br>
                                <input type="text" name="lastjobDesig" id="lastjobDesig" class="form-control"
                                    value={{profileExp.companyName}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="department"><b>Job Title:</b></label><br>
                                <input type="text" name="department" id="department" class="form-control"
                                    value={{profileExp.jobTitle}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="reasonsforleaving"><b>Years Of Experience:</b></label><br>
                                <input type="text" name="reasonsforleaving" id="reasonsforleaving" class="form-control"
                                    value={{profileExp.yearOfExp}} disabled style="cursor: not-allowed;">
                            </div>
                            <div class="col-sm-12">
                                <label for="reasonsforleaving"><b>Description:</b></label><br>
                                <input type="text" name="reasonsforleaving" id="reasonsforleaving" class="form-control"
                                    value={{profileExp.description}} disabled style="cursor: not-allowed;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>