<div class="row bg-light">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-10">
        <div class="col-sm-12 text-center">
            <div class="alert alert-success col-sm-10" *ngIf="registrationSuccess;else failMessage">
                <strong>{{registrationSuccess}} !!</strong>
            </div>
            <ng-template #failMessage>
                <div class="alert alert-danger" *ngIf="regisFail">
                    <strong>{{regisFail}} !!</strong>
                </div>
            </ng-template>
        </div>
        <div class="container mt-3">
            
            <form class="form-horizontal" [formGroup]="registerForm" #signupFormDir="ngForm"
                (ngSubmit)="register_recruiter(registerForm.value)">
                <div [hidden]="signupFormDir.submitted">
                    <div class="form-group">
                        <label for="employerName" class="col-sm-3 control-label">Employer Name*</label>
                        <div class="col-sm-12">
                            <input type="text" formControlName="employerName" placeholder="employerName"
                                class="form-control text-lowercase" style="display: inline-block;width: 90%;">
                                <span *ngIf="signUp.employerName!.valid"> &#10004;</span>
                            <div class="mt-1" *ngIf="signUp.employerName.errors && (signUp.employerName.touched || signUp.employerName.dirty)">
                                <div class="alert alert-danger" style="width: 30%;" *ngIf="signUp.employerName.errors.required">
                                    Name is required
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div formGroupName="login">
                        <div class="col-sm-12">
                            <label for="empEmail">Employer Email:</label><br>
                            <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" formControlName="userId" id="empEmail" class="form-control" style="display: inline-block;width: 90%;">
                            <span *ngIf="registerForm.get('login.userId')!.valid"> &#10004;</span>
                                <!-- style="cursor: not-allowed;" -->
                        <div class="mt-1" *ngIf="registerForm.get('login.userId')!.errors && (registerForm.get('login.userId')!.touched || registerForm.get('login.userId')!.dirty)">
                            <div class="alert alert-danger" style="width: 30%;" *ngIf="registerForm.get('login.userId')!.errors!.required">
                                Email is required
                            </div>
                            <div *ngIf="registerForm.get('login.userId')!.errors!.pattern">
                                <p class="alert alert-danger" >Not a valid email</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-12">
                            <label for="password">Password*</label><br>
                            <input type="password" name="password" placeholder="Password" class="form-control"
                                    formControlName="pwd" style="display: inline-block;width: 90%;">
                                    <span *ngIf="registerForm.get('login.pwd')!.valid"> &#10004;</span>
                            <div class="mt-1" *ngIf="registerForm.get('login.pwd')!.errors && (registerForm.get('login.pwd')!.touched || registerForm.get('login.pwd')!.dirty)">
                                <div class="alert alert-danger" style="width: 40%;" *ngIf="registerForm.get('login.pwd')!.errors!.required">
                                    password is required
                                </div>
                                <div class="alert alert-danger" style="width: 70%;" *ngIf="registerForm.get('login.pwd')!.errors!.minlength">
                                    password should be minimum 5 characters
                                </div>
                                <div class="alert alert-danger" style="width: 70%;" *ngIf="registerForm.get('login.pwd')!.errors!.maxlength">
                                    password cannot be greater than 15 characters
                                </div>
                                <div class="alert alert-danger" style="width: 90%;" *ngIf="registerForm.get('login.pwd')!.errors!.passwordIntegrity">
                                    There should be at least 1 single digit,small and capital letter and 1 extra character
                                </div>
                            </div>
                        </div>

                            <!-- <div class="alert alert-danger" *ngIf="signUp.pwd.errors.minlength">
                                Enter minimum 8 digit password
                            </div> -->
                        <!-- <div class="col-sm-9">
                            <label for="emprole">Role</label><br>
                            <input type="text" formControlName="role" id="emprole" class="form-control">
                            <div class="alert alert danger mt-1" *ngIf="registerForm.get('login.role')!.errors && registerForm.get('login.role')!.touched">
                                <div class="alert alert-danger" style="width: 30%;" *ngIf="registerForm.get('login.role')!.errors!.required">
                                    Role is required
                                </div>
                            </div>
                        </div> -->

                    </div>
                    </div>

                    
                    <div>
                        <div class="form-group" formGroupName="company">
                            <label for="company" class="col-sm-3 control-label">Company Name</label>
                            <div class="col-sm-12">
                                <input type="text" placeholder="Company Name" class="form-control"
                                    formControlName="companyName" style="display: inline-block;width: 90%;">
                                    <span *ngIf="registerForm.get('company.companyName')!.valid"> &#10004;</span>
                            
                                <div class="mt-1" *ngIf="registerForm.get('company.companyName')!.errors && (registerForm.get('company.companyName')!.touched || registerForm.get('company.companyName')!.dirty)">
                                    <div class="alert alert-danger" style="width: 40%;" *ngIf="registerForm.get('company.companyName')!.errors!.required">
                                        Company name is required
                                    </div>
                                </div>
                            </div>
                            <label for="exp" class="col-sm-3 control-label">Establishment Date </label>
                            <div class="col-sm-12">
                                <input type="date" placeholder="establishmentDate" class="form-control"
                                    formControlName="establishmentDate" style="display: inline-block;width: 90%;">
                                    <span *ngIf="registerForm.get('company.establishmentDate')!.valid"> &#10004;</span>
                            
                                <div class="mt-1" *ngIf="registerForm.get('company.establishmentDate')!.errors && (registerForm.get('company.establishmentDate')!.touched || registerForm.get('company.establishmentDate')!.dirty)">
                                    <div class="alert alert-danger" style="width: 40%;" *ngIf="registerForm.get('company.establishmentDate')!.errors!.required">
                                        Est Date is required
                                    </div>
                                </div>
                            </div>
                            <label for="about" class="col-sm-3 control-label">About</label>
                            <div class="col-sm-12">
                                <input type="url" placeholder="URL" class="form-control" formControlName="companyWebsite" style="display: inline-block;width: 90%;">
                                <span *ngIf="registerForm.get('company.companyWebsite')!.valid"> &#10004;</span>
                            
                                <div class="mt-1" *ngIf="registerForm.get('company.companyWebsite')!.errors && (registerForm.get('company.companyWebsite')!.touched || registerForm.get('company.companyWebsite')!.dirty)">
                                    <div class="alert alert-danger" style="width: 40%;" *ngIf="registerForm.get('company.companyWebsite')!.errors!.required">
                                        About is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">Contact number</label>
                        <div class="col-sm-12">
                            <input type="number" placeholder="Contact number" class="form-control" formControlName="phoneNo" style="display: inline-block;width: 90%;">
                            <span *ngIf="signUp.phoneNo!.valid"> &#10004;</span>
                            <div class="mt-1" *ngIf="signUp.phoneNo.errors && (signUp.phoneNo.touched || signUp.phoneNo.dirty)">
                                <div class="alert alert-danger" style="width: 40%;" *ngIf="signUp.phoneNo.errors.required">
                                    phoneNo is required
                                </div>
                                <div class="alert alert-danger" style="width: 40%;" *ngIf="signUp.phoneNo.errors.min || signUp.phoneNo.errors.max">
                                    phoneNo should be 10 letters.
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">Office Id</label>
                        <div class="col-sm-12">
                            <input type="number" placeholder="Office Id" class="form-control" formControlName="branchOfficeId"  style="display: inline-block;width: 90%;">
                            <span *ngIf="signUp.branchOfficeId!.valid"> &#10004;</span>
                            <div class="mt-1" *ngIf="signUp.branchOfficeId.errors && (signUp.branchOfficeId.touched || signUp.branchOfficeId.dirty)">
                                <div class="alert alert-danger" style="width: 40%;" *ngIf="signUp.branchOfficeId.errors.required">
                                    bid is required
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- <input type="hidden" name="role" value="employer" formControlName="role"> -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button [disabled]="signupFormDir.invalid" type="submit" class="mb-5 btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>