<app-dashboard></app-dashboard>
<!-- <div class="container mt-3" *ngIf="eMessage">
  <div class="alert alert-danger">
      <strong><a routerLink='../login' class="link-danger">{{eMessage}}</a></strong>
  </div>
</div> -->
  <div class="jumbotron mt-0" style="height: 230px;padding: 30px 32px 0 32px;background-color: rgb(247, 247, 247);border-radius: 0;">
    <header class="display-6">welcome to the JobPortal of India</header>
    <hr class="my-3">
    <p class="lead">Find A Job at SmartJobs</p>
    <div class="container">
      <form #searchForm="ngForm" class="form-inline ml-3 my-2 my-lg-0" (ngSubmit)="search(searchForm)">
        <div class="container ml-3 row">
                <i class="fas fa icon"></i>
                <input type="search" autocomplete="off" class="form-control col-5 mr-2" [(ngModel)]="input1" name="input1" placeholder="&#xF002; Skills, Designation, Companies..."
                  style="font-family: Arial, Helvetica, sans-serif, FontAwesome">
                <input type="search" autocomplete="off" [(ngModel)]="input2" name="input2" class="form-control col-4 mr-2 location" placeholder="&#xf124; Enter Location"
                  style="font-family: Arial, Helvetica, sans-serif, FontAwesome;">
                  <button type="submit" class="butn btn btn-primary rounded col-2 my-2 my-sm-0" >Search</button>

        </div>
        <div class="col-sm-6 text-center " style="margin: auto;"> 
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>{{errorMessage}}</strong>
            </div>
        </div>
      </form>
    </div>
  </div>