<app-dashboard></app-dashboard>
<!-- <div class="container mt-3" *ngIf="eMessage">
  <div class="alert alert-danger">
      <strong><a routerLink='../login' class="link-danger">{{eMessage}}</a></strong>
  </div>
</div> -->
  <div class="jumbotron mt-0" style="height: 230px;padding: 30px 32px 0 32px;background-color: rgb(247, 247, 247);border-radius: 0;">
    <header class="display-6">welcome to the JobPortal of India</header>
    <hr class="my-3">
    <p class="lead">Find A Job at SmartJobs</p>
    <div class="container">
      <form #searchForm="ngForm" class="form-inline ml-3 my-2 my-lg-0" (ngSubmit)="search(searchForm)">
        <div class="container ml-3 row">
                <i class="fas fa icon"></i>
                <input type="search" autocomplete="off" class="form-control col-5 mr-2" [(ngModel)]="input1" name="input1" placeholder="&#xF002; Skills, Designation, Companies..."
                  style="font-family: Arial, Helvetica, sans-serif, FontAwesome">
                <input type="search" autocomplete="off" [(ngModel)]="input2" name="input2" class="form-control col-4 mr-2 location" placeholder="&#xf124; Enter Location"
                  style="font-family: Arial, Helvetica, sans-serif, FontAwesome;">
                  <button type="submit" class="butn btn btn-primary rounded col-2 my-2 my-sm-0" >Search</button>

        </div>
        <div class="col-sm-6 text-center " style="margin: auto;"> 
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>{{errorMessage}}</strong>
            </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isSearchEmpty" class="mt-4" >
    <div class="container" style="margin:auto">
      <div class="row">
        <div class="col-sm-4 mb-4 h" *ngFor="let j of jobs">
          <div class="card h-100">
            <div class="card-body p-0 d-flex flex-column">
              <div class="card-header pt-3 bg-primary text-white">
                <h5 class="card-title">{{j.jobRole}}</h5>
              </div>
              <div class="card-body d-flex flex-column">
                <p class="card-text text-muted"><b>{{j.employee.company.companyName}}</b></p>
                <p class="card-text text-muted">
                  <i class="fa fa-briefcase"></i> {{j.experience}} year<br>
                  <i class="fa fa-gear "></i><span *ngFor="let skills of j.skills"> {{skills.skillName}},</span><br>
                  {{j.jobType}}
                </p> 
                <p class="card-text text-muted"><b>&#8377;</b> {{j.salary}}</p>
                <button type="button" *ngIf="email && !j.isApplied" class="mt-auto align-self-end butn btn btn-outline-success" (click)="apply(j.jobPostId)" >Apply</button>
                <button type="button" *ngIf="email && j.isApplied" class="mt-auto align-self-end butn btn btn-success" disabled>Applied</button>
                <button type="button"  *ngIf="!email" class="mt-auto align-self-end butn btn btn-outline-success" routerLink='../login' >Login to Apply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>