@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.card{
    -webkit-box-shadow: 1px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
}
.card:hover{
    -webkit-box-shadow: 1px 3px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 12px 4px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 12px 4px rgba(0,0,0,0.75);
}

button{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
button:hover{
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}


body {
    font: 16px Arial, Verdana, Tahoma, Sans-serif;
    margin-left: auto;
    margin-right: auto;
}
  


/* .search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
} */

input {
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}

/* .button {
  padding: 8px 16px;
  min-height: 58px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #4a90e2;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 10%;
} */

/* input {
    order: 0;
    align-self: auto;  
} */

/* .search {
  flex: 1 1 auto;
}

.location {
  flex: 1 1 auto;
} */

/* .date-to {
  flex: 1 1 auto;
} */

/* .button {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
} */
  
