
<div class="container mt-3 border border-2 rounded pj p-0" >
    
    <div class="p-0 mb-2" style="background-color: rgb(243, 240, 240);">
        <h1 class="display-4">Post Job</h1>
        <hr class="my-2">
    <!-- <p class="jumbotron mb-5" style="text-align: center;color: darkturquoise;">Post Job</p> -->
    </div>
    <div class="p-4 display-6" style="text-align: left;">
    <form [formGroup]="postJobForm" #postJobFormDir="ngForm" (ngSubmit)="save(postJobForm.value)" class="row">
        <div formGroupName="employee" class="col-sm-12 mb-2">
            <div formGroupName="login">
                <label for="empEmail">Employer Email:</label><br>
                <input type="email" formControlName="userId" id="empEmail" class="form-control"
                    value="{{employer.login.userId}}">
                    <!-- style="cursor: not-allowed;" -->
            </div>
        </div>
        <div class="col-6">
            <label for="exampleDataList" class="form-label">JobType</label>
            <input class="form-control" list="datalistOptions" formControlName="jobType" id="exampleDataList" placeholder="Enter Job Type...">
            <datalist id="datalistOptions">
                <option value="Permenant">
                <option value="Internship">
                <option value="Contract">
            </datalist>
            <div class="alert alert-danger mt-2" *ngIf="postJobs.jobType.errors && (postJobs.jobType.touched || postJobs.jobType.dirty)">
                <div *ngIf="postJobs.jobType.errors.required">
                    Job Type is required
                </div>
            </div>
        </div>
        <div class="col-6 form-group">
            <label for="exampleFormControlInput1" class="form-label">Job Role</label>
            <input type="text" class="form-control" formControlName="jobRole" id="exampleFormControlInput1" placeholder="Enter job Role ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.jobRole.errors && (postJobs.jobRole.touched || postJobs.jobRole.dirty)">
                <div *ngIf="postJobs.jobRole.errors.required">
                    Job Role is required
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="exampleDataList1" class="form-label">Skills</label>
            <!-- <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions" multiple>
                <option value="Permenant">
                <option value="Internship">
                <option value="Contract">
            </datalist> -->
            <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="skillsList" formControlName="skills">
            </ng-multiselect-dropdown>
            <div class="alert alert-danger" *ngIf="postJobs.skills.errors && (postJobs.skills.touched || postJobs.skills.dirty)">
                <div *ngIf="postJobs.skills.errors.required">
                    Job Skills are required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput3" class="form-label">Vacancies</label>
            <input type="number" class="form-control" id="exampleFormControlInput3" formControlName="vacancies" placeholder="Enter Vacancies...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.vacancies.errors && (postJobs.vacancies.touched || postJobs.vacancies.dirty)">
                <div *ngIf="postJobs.vacancies.errors.required">
                    Job vacancies must be mentioned
                </div>
                <div *ngIf="postJobs.vacancies.errors.min">
                    Job vacancies should not be negative
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput4" class="form-label">Salary</label>
            <input type="number"  class="form-control" id="exampleFormControlInput4" formControlName="salary" placeholder="Enter Salary...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.salary.errors && (postJobs.salary.touched || postJobs.salary.dirty)">
                <div *ngIf="postJobs.salary.errors.required">
                    Job salary are required
                </div>
                <div *ngIf="postJobs.salary.errors.min">
                    Job salary should not be negative
                </div>
            </div>
        </div>
        <!-- <div class="col-12 mb-2">
            <label for="exampleFormControlInput5" class="form-label">Office Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Enter office Address...">
        </div>   -->
        <div class="col-6">
            <label for="exampleFormControlInput6" class="form-label">Required Experience</label>
            <input type="text" class="form-control" formControlName="experience" id="exampleFormControlInput6" placeholder="Enter Required Experience ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.experience.errors && (postJobs.experience.touched || postJobs.experience.dirty)">
                <div *ngIf="postJobs.experience.errors.required">
                    Job Experience is required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput8" class="form-label">Office Address</label>
            <input type="text" class="form-control" formControlName="officeAddress" id="exampleFormControlInput8" placeholder="Enter Required Experience ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.officeAddress.errors && (postJobs.officeAddress.touched || postJobs.officeAddress.dirty)">
                <div *ngIf="postJobs.officeAddress.errors.required">
                    Office Address is required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="postedDate">Posted Date</label><br>
            <input type="date" formControlName="postedDate" id="postedDate" class="form-control"
                value="2021-09-11">
        </div>
        <div class="col-6 mb-3">
            <label for="isActive">isActive</label><br>
            <input type="text" formControlName="isActive" id="isActive" class="form-control"
                value="true">
        </div>
        
        <div class="col-12">
            <button type="submit"  class="btn btn-primary" [disabled]="postJobFormDir.invalid" >Post</button>
        </div>
        <div class="col mb-4 alert alert-danger" [hidden] = '!EMessage'><h3>{{EMessage}}</h3></div>
    </form>
</div>
</div>