<div class="container mt-3" *ngIf="EMessage">
    <div class="alert alert-danger">
        <strong><a routerLink='../login' class="link-danger">{{EMessage}}</a></strong>
    </div>
</div>
<div class="container mt-3 border border-2 rounded pj p-0" *ngIf="!EMessage" style="margin-bottom: 65px;">
    
    <div class="p-0 mb-2" style="background-color: rgb(243, 240, 240);">
        <h1 class="display-4">Edit Post Job</h1>
        <hr class="my-2">
    <!-- <p class="jumbotron mb-5" style="text-align: center;color: darkturquoise;">Post Job</p> -->
    </div>
    <div class=" display-6" style="text-align: left;">
        <div  class="col-12 mb-2">
                <label for="empEmail">Employer Email:</label><br>
                <input type="email"  id="empEmail" class="form-control"
                [(ngModel)]="postJob.employee.login.userId"  disabled style="cursor: not-allowed;">
                    <!-- style="cursor: not-allowed;" -->
        </div>
        <div class="p-3">
        <form [formGroup]="postJobForm" #postJobFormDir="ngForm" (ngSubmit)="edit()" class="row">
        
        <div class="col-6">
            <label for="exampleDataList" class="form-label">JobType</label>
            <input class="form-control" list="datalistOptions" [(ngModel)]="postJob.jobType" formControlName="jobType" id="exampleDataList" placeholder="Enter Job Type...">
            <datalist id="datalistOptions">
                <option value="Permenant">
                <option value="Internship">
                <option value="Contract">
            </datalist>
            <div class="alert alert-danger mt-2" *ngIf="postJobs.jobType.errors && (postJobs.jobType.touched || postJobs.jobType.dirty)">
                <div *ngIf="postJobs.jobType.errors.required">
                    Job Type is required
                </div>
            </div>
        </div>
        <div class="col-6 form-group">
            <label for="exampleFormControlInput1" class="form-label">Job Role</label>
            <input type="text" class="form-control" [(ngModel)]="postJob.jobRole" formControlName="jobRole" id="exampleFormControlInput1" placeholder="Enter job Role ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.jobRole.errors && (postJobs.jobRole.touched || postJobs.jobRole.dirty)">
                <div *ngIf="postJobs.jobRole.errors.required">
                    Job Role is required
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="exampleDataList1" class="form-label">Skills</label>
            <!-- <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions" multiple>
                <option value="Permenant">
                <option value="Internship">
                <option value="Contract">
            </datalist> -->
            <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="skillsList" formControlName="skills" [(ngModel)]="postJob.skills">
            </ng-multiselect-dropdown>
            <div class="alert alert-danger" *ngIf="postJobs.skills.errors && (postJobs.skills.touched || postJobs.skills.dirty)">
                <div *ngIf="postJobs.skills.errors.required">
                    Job Skills are required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput3" class="form-label">Vacancies</label>
            <input [(ngModel)]="postJob.vacancies" type="number" class="form-control" id="exampleFormControlInput3" formControlName="vacancies" placeholder="Enter Vacancies...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.vacancies.errors && (postJobs.vacancies.touched || postJobs.vacancies.dirty)">
                <div *ngIf="postJobs.vacancies.errors.required">
                    Job vacancies must be mentioned
                </div>
                <div *ngIf="postJobs.vacancies.errors.min">
                    Job vacancies should not be negative
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput4" class="form-label">Salary</label>
            <input [(ngModel)]="postJob.salary" type="number"  class="form-control" id="exampleFormControlInput4" formControlName="salary" placeholder="Enter Salary...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.salary.errors && (postJobs.salary.touched || postJobs.salary.dirty)">
                <div *ngIf="postJobs.salary.errors.required">
                    Job salary are required
                </div>
                <div *ngIf="postJobs.salary.errors.min">
                    Job salary should not be negative
                </div>
            </div>
        </div>
        <!-- <div class="col-12 mb-2">
            <label for="exampleFormControlInput5" class="form-label">Office Address</label>
            <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Enter office Address...">
        </div>   -->
        <div class="col-6">
            <label for="exampleFormControlInput6" class="form-label">Required Experience</label>
            <input [(ngModel)]="postJob.experience" type="text" class="form-control" formControlName="experience" id="exampleFormControlInput6" placeholder="Enter Required Experience ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.experience.errors && (postJobs.experience.touched || postJobs.experience.dirty)">
                <div *ngIf="postJobs.experience.errors.required">
                    Job Experience is required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput8" class="form-label">Office Address</label>
            <input [(ngModel)]="postJob.officeAddress" type="text" class="form-control" formControlName="officeAddress" id="exampleFormControlInput8" placeholder="Enter Required Experience ...">
            <div class="alert alert-danger mt-2" *ngIf="postJobs.officeAddress.errors && (postJobs.officeAddress.touched || postJobs.officeAddress.dirty)">
                <div *ngIf="postJobs.officeAddress.errors.required">
                    Office Address is required
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="postedDate">Posted Date</label><br>
            <input [(ngModel)]="postJob.postedDate" type="date" formControlName="postedDate" id="postedDate" class="form-control"
                value="2021-09-11">
        </div>
        <div class="col-6 mb-3">
            <label for="isActive">isActive</label><br>
            <input [(ngModel)]="postJob.isActive" type="text" formControlName="isActive" id="isActive" class="form-control"
                value="true">
        </div>
        
        <div class="col-12">
            <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="postJobFormDir.invalid" >Post</button>
        </div>
        <div class="col mb-4 alert alert-danger" [hidden] = '!EMessage'><h3>{{EMessage}}</h3></div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Do You Want to Update the JobPost? </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Click On Save Changes Button to save the changes!!!
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </form>
</div>
</div>
</div>