<!-- <div class="container">
    <table class="table table-responsive caption-top table-bordered border-dark table-hover table-striped">
        <caption>List of Jobs</caption>
        <thead class="table-dark">
        <tr>
            <th>Job id</th>
            <th>Company Name</th>
            <th>Job Role</th>
            <th>Skills</th>
            <th>Job Type</th>
            <th>Salary</th>
            <th>IsActive</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let j of jobs">
            <th>1</th>
            <td>{{j.companyName}}</td>
            <td>{{j.jobRole}}</td>
            <td>{{j.skills}}</td>
            <td>{{j.jobType}}</td>
            <td>{{j.salary}}</td>
            <td>{{j.isActive}}</td>
            <td><button type="button" class="btn btn-success">Applly</button></td>
        </tr>
        
        </tbody>
    </table>
</div> -->

<div class="container mt-2">
    <div [hidden]="!sMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Job Deleted Successfully!!!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div [hidden]= '!errorMessage'>
            <h2 style="color:red">Something Bad Happened.</h2>
        </div>
        <div class="col-sm-4 " [hidden] = 'errorMessage' *ngFor="let j of jobs" >
          <div class="card h-100" >
            <div class="card-body p-0">
                <div class="card-header pt-3 bg-primary text-white"><h5 class="card-title">{{j.jobRole}}</h5></div>
                <div class="card-body">
                    <p class="card-text text-muted"><b>{{employee.company.companyName}}</b></p>
                    <div class="text-muted">
                        <i class="fa fa-briefcase">&nbsp; {{j.experience}}</i> <br>
                        
                        <p class="card-text"><i class="fa fa-gears">&nbsp;&nbsp;</i><span *ngFor="let s of j.skills">{{s.skillName}},</span></p>
                        <br>
                        {{j.jobType}}
                    </div>
                    <p class="card-text text-muted"><b>&#8377;</b> {{j.salary}}</p>
                    <button type="button mr-2" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success butn">Drop</button>
                    <button type="button mr-2" class="btn btn-outline-success butn" (click)="updateJob(j.jobPostId)">Edit</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Are You sure want to delete this JobPost?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Click on Delete Job button to delete the JobPost!!!
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="deleteJob(j.jobPostId)">Delete Job</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- [{outlets: {'outside': ['./appliedSeekers',j.jobPostId ] } }]     --  [routerLink] = "['../appliedSeekers',j.jobPostId ]"-->
                    <button type="button" class="btn btn-outline-success " (click)="viewSeekers(j.jobPostId)" >Seekers</button>
                </div>
            </div>
          </div>
        </div>
        
        
      </div>
      
</div>
