<div class="container">
    <table class="table table-responsive caption-top table-bordered border-dark table-hover table-striped">
        <caption>List of Applied Jobs</caption>
        <thead class="table-dark">
        <tr>
            <th>Seeker Name</th>
            <th>Seeker Mail</th>
            <th>Seeker Mobile</th>
            <th>Seeker Skills</th>
            <th>Applied For</th>
            <th>Resume</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let s of jobSeekersNew">
            <th>{{s.seekerName}}</th>
            <td>{{s.seekerMail}}</td>
            <td>{{s.seekerMobile}}</td>
            <td>{{s.seekerSkills}}</td>
            <td>{{s.appliedFor}}</td>
            <td>{{s.resume}}</td>
            <td><button type="button" class="btn btn-success" disabled>Applied</button></td>
        </tr>
        </tbody>
    </table>
</div>