<div class="container mt-3" style="margin-bottom: 65px;">
    <table class="table caption-top table-bordered border-dark table-hover table-striped">
        <caption>List of Applied Jobs</caption>
        <thead class="table-dark">
        <tr>
            <th>Seeker Name</th>
            <th>Seeker Mail</th>
            <th>Seeker Mobile</th>
            <th>Seeker Skills</th>
            <th>Job Id</th>
            <th>Resume</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let j of jobSeekers">
            <th>{{j.seekerName}}</th>
            <td>{{j.login.userId}}</td>
            <td>{{j.seekerMobile}}</td>
            <td><span *ngFor = "let s of j.skills">{{s.skillName}},</span></td>
            <!-- <td>{{s.appliedFor}}</td> -->
            <td>{{id}}</td>
            <td>{{j.resume}}</td>
            <td><button type="button" class="btn btn-success mr-3">Accept</button>
                <button type="button" class="btn btn-success">Reject</button></td>
        </tr>
        </tbody>
    </table>
</div>
