<app-dashboard></app-dashboard>
<div class="container">
    <h2>List of Applied Jobs</h2>
    <table class="table">
        <thead>
            <tr class="table-success">
                <th>Company Name</th>
                <th>Job Role</th>
                <th>Job Type</th>
                <th>Experience Required</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor = "let s of jobApplied">
                <th>{{s.companyName}}</th>
                <td>{{s.jobRole}}</td>
                <td>{{s.jobType}}</td>
                <td>{{s.expRequired}}</td>
                <td><button type="button" class="btn btn-success" disabled>Applied</button></td>
            </tr>
        </tbody>
    </table>
</div>
