<app-dashboard></app-dashboard>
<div class="container mt-3" *ngIf="eMessage">
    <div class="alert alert-danger">
        <strong><a routerLink='../login' class="link-danger">Login to see Your AppliedJobs</a></strong>
    </div>
  </div>
<div class="container mb-5" *ngIf="!eMessage">
    <h2>List of Applied Jobs</h2>
    <table class="table">
        <thead>
            <tr class="table-success">
                <th>Company Name</th>
                <th>Job Role</th>
                <th>Job Type</th>
                <th>Experience Required</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor = "let s of jobApplied">
                <th>{{s.jobPost.employee.company.companyName}}</th>
                <td>{{s.jobPost.jobRole}}</td>
                <td>{{s.jobPost.jobType}}</td>
                <td>{{s.jobPost.experience}}</td>
                <td><button type="button" class="btn btn-success" disabled>Applied</button></td>
                <td><button type="button" class="btn btn-success" (click)="cancle(s.jobStatusId)">Cancel</button></td>
            </tr>
        </tbody>
    </table>
</div>
